body {
    margin: 0 auto;
    background: url('../images/background.jpg');
    background-size: cover;
}
h1 {
    border-bottom: 4px double #ccc;
}

.site-header{

    background-repeat: no-repeat;
    background-size: cover;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
}

.container{
    max-width: 60vw;
    margin-left: 20vw;
    min-height: 60vh;
}

.about{
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
}

.aside{
    border-left: 4px double #ccc;
    padding: 25px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    flex-direction: row;
    background-color: #D0BD9C;
}

ul {
    list-style-type: none;
}

ul li{
    display: inline;
    margin-right: 3vw;
    font-size: 2.4vh;
}

a {
    text-decoration: none; 
    color: black
}

a:hover {
    /* Add hover effect */
    text-decoration: underline;
}

a:visited {
    /* Style for visited links */
    color: #666; /* Change color for visited links */
}

.balloon {
    display:inline-block;
    width:120px;
height:145px;
background:hsl(215,50%,65%);
border-radius:80%;
position:relative;
box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
margin:20px 30px;
transition:transform 0.5s ease;
z-index:10;
animation:balloons 4s ease-in-out infinite;
transform-origin:bottom center;
}

@keyframes balloons {
0%,100%{ transform:translateY(0) rotate(-4deg); }
50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
content:"▲";
font-size:20px;
color:hsl(215,30%,50%);
display:block;
text-align:center;
width:100%;
position:absolute;
bottom:-12px;
z-index:-100;
}

.balloon:after {
display:inline-block; top:153px;
left: 60px;
position:absolute;
height:250px;
width:1px;
margin:0 auto;
content:"";
background:rgba(0,0,0,0.2); 
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    min-height: 12.5vh;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}