{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}


{% block body %}
    <div class="container">
        <h1>Report</h1>
        <h2 id="kmom01">Kmom01</h2>
        <p>
            <h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
            <p>Har läst objektorienterad python precis innan detta så mitt minne är färskt kring det. Sen vet jag inte hur stor skillnad det kommer vara på python och php 
            men än så länge är det relativt likt med lite små skillnader.</p>
            <h3>Berätta kort om PHPs modell för klasser och objekt. 
            Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
            <p>För att skapa en skriver man "class" följ av ett ord med stor bokstav, 
            man kan skapa 3 olika properties  public , private och protected. För att skapa en 
            method så skriver man nån av dem 3 orden samt function. För att skapa ett object skriver man $namnpåobj = new NamnPåClass(), </p>
            <h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
            <p> Den är uppbyg med controller templetes och en public map. Tycker den är ganska tydlig , dock lite svårt att förstå 
            hur vissa delar i Symfony fungerade i början men det sitter nu.</p>
            <h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla?
                Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.
            </h3>
            <p> Jag tyckte att kapitler med coding practices var väldigt intresant , tycket att det är viktigt att ha en hög
                kodstandrad , och det kommer vara extra viktigt när man väl kommer ut till arbetslivet senare.
            </p>
            <h3>Vilken är din TIL för detta kmom?</h3>
            <p> Jag har lärt mig hur man sätter upp en hemsida i Symfony samt vad mvc modellen är för något</p>
        </p>
        <h2 id="kmom02">Kmom02</h2>
        <p>
            Redovisningtext
        </p>
        <h2 id="kmom03">Kmom03</h2>
        <p>
            Redovisningtext
        </p>
        <h2 id="kmom04">Kmom04</h2>
        <p>
            Redovisningtext
        </p>
        <h2 id="kmom05">Kmom05</h2>
        <p>
            Redovisningtext
            
        </p>
        <h2 id="kmom06">Kmom06</h2>
        <p>
            Redovisningtext
        
        </p>
        <h2 id="kmom10">kmom10</h2>
        <p>
            Redovisningtext 
        </p>
        {% if kmom is defined %}
            <script>
                document.getElementById("{{ kmom }}").scrollIntoView();
            </script>
        {% endif %}
    </div>
{% endblock %}